<ul class='nav nav-tabs visible-md-block visible-lg-block'>
  <li ui-sref-active='active'><a ui-sref='pregnancy.prenatal'>Prenatal</a></li>
  <li ui-sref-active='active'><a ui-sref='pregnancy.labs'>Labs</a></li>
  <li ui-sref-active='active'><a ui-sref='pregnancy.questionnaire'>Questionnaire</a></li>
  <li ui-sref-active='active'><a ui-sref='pregnancy.midwife'>Midwife interview</a></li>
  <li ui-sref-active='active'><a ui-sref='pregnancy.general'>General</a></li>
</ul>
<ul class='nav nav-tabs visible-xs-block visible-sm-block'>
  <li ui-sref-active='active'><a ui-sref='pregnancy.prenatal'>Prenatal</a></li>
  <li ui-sref-active='active'><a ui-sref='pregnancy.labs'>Labs</a></li>
  <li ui-sref-active='active'><a ui-sref='pregnancy.questionnaire'>Ques</a></li>
  <li ui-sref-active='active'><a ui-sref='pregnancy.midwife'>Midwife</a></li>
  <li ui-sref-active='active'><a ui-sref='pregnancy.general'>General</a></li>
</ul>
