<div ng-repeat='ph in ctrl.pregnancyHistory|showDetail:detId'>
  <div class='row' ng-show='ph.op == "D"'>
    <div class='form-group col-xs-12'>
      <div class='alert alert-info'>Record DELETED!</div>
    </div>
  </div>
  <div class='row'>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.month}'>Month</span>
      <input id='month' class='form-control' type='number' disabled name='month' value='{{ph.month}}'>
    </div>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.day}'>Day</span>
      <input id='day' class='form-control' type='number' disabled name='day' value='{{ph.day}}'>
    </div>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.year}'>Year</span>
      <input id='year' class='form-control' type='number' disabled name='year' value='{{ph.year}}'>
    </div>
    <div class='form-group col-xs-3'>
      <div class='checkbox'>
        <span ng-class='{"has-changed": chgd.FT}'>
          <input type='checkbox' disabled name='FT' tabindex="102" value=1 checked='{{ph.FT==true}}'>
          Full Term?
        </span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.finalGA}'>GA</span>
      <input id='finalGA' class='form-control' type='number' disabled name='finalGA' value='{{ph.finalGA && ph.finalGA !== 0? ph.finalGA:""}}'>
    </div>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.finalGAPeriod}'>Wks/Mths</span>
      <input id='finalGAPeriod' class='form-control' type='text' disabled name='finalGAPeriod' value='{{ph.finalGAPeriod && ph.finalGAPeriod !== ""?ph.finalGAPeriod:""}}'>
    </div>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.sexOfBaby}'>Sex of baby</span>
      <input id='sexOfBaby' class='form-control' type='text' disabled name='sexOfBaby' value='{{ph.sexOfBaby}}'>
    </div>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.placeOfBirth}'>Birth place</span>
      <input id='placeOfBirth' class='form-control' type='text' disabled name='placeOfBirth' value='{{ph.placeOfBirth}}'>
    </div>
  </div>
  <div class='row'>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.attendant}'>Attendant</span>
      <input id='attendant' class='form-control' type='text' disabled name='attendant' value='{{ph.attendant}}'>
    </div>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.typeOfDelivery}'>Del type</span>
      <input id='typeOfDelivery' class='form-control' type='text' disabled name='typeOfDelivery' value='{{ph.typeOfDelivery}}'>
    </div>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.lengthOfLabor}'>Labor (hrs)</span>
      <input id='lengthOfLabor' class='form-control' type='number' disabled name='lengthOfLabor' value='{{ph.lengthOfLabor}}'>
    </div>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.birthWeight}'>B Wgt (grams)</span>
      <input id='birthWeight' class='form-control' type="tel" disabled name='birthWeight' value='{{ph.birthWeight}}'>
    </div>
  </div>

  <div class='row'>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.episTear}'>Epis Tear?</span>
      <input id='episTear' class='form-control' type="tel" disabled name='episTear' value='{{ph.episTear}}'>
    </div>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.repaired}'>Repaired?</span>
      <input id='repaired' class='form-control' type="tel" disabled name='repaired' value='{{ph.repaired}}'>
    </div>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.howLongBFed}'>BFed</span>
      <input id='howLongBFed' class='form-control' type='number' disabled name='howLongBFed' value='{{ph.howLongBFed}}'>
    </div>
    <div class='form-group col-xs-3'>
      <span ng-class='{"has-changed": chgd.howLongBFedPeriod}'>Wk/Mtn/Yr</span>
      <input id='howLongBFedPeriod' class='form-control' type='text' disabled name='howLongBFedPeriod' value='{{ph.howLongBFedPeriod}}'>
    </div>
  </div>

  <div class='row'>
    <div class='form-group col-xs-6'>
      <span ng-class='{"has-changed": chgd.note}'>Comment</span>
      <textarea id='note' class='form-control' rows='3' type='text' disabled name='note'>{{ph.note}}</textarea>
    </div>
  </div>
</div>

<div class='row'>
  <div class='form-group col-xs-3'>
    <a ui-sref='pregnancy.midwife' class='btn btn-default' role='button'>Back to the Midwife Interview Page</a>
  </div>
</div>

