<div class='row'>
  <!-- Left column -->
  <div class='col-xs-6'>
    <!-- lab results -->
    <div class='row'>
      <div class='col-xs-12 panel panel-default spacing'>
        <div class='row'>
          <div class='col-xs-12 bigTable'>
            <label>Lab Results</label>
            <table id='labTestResults' class='table table-striped table-bordered table-hover table-condensed'>
              <thead>
                <tr>
                  <td>Exam</td>
                  <td class='table-cell-date'>Date</td>
                  <td>Result</td>
                  <td>Warn</td>
                </tr>
              </thead>
              <tbody>
                <tr class='labTestResultsRow' ng-hide='ltr.op == "D"' ng-repeat='ltr in ctrl.labTestResult|toArray|orderBy:["name","testDate"]'>
                  <td>{{ltr.name}}</td>
                  <td class='table-cell-date'>{{ltr.testDate|onlyValidDate|date:'MM-dd-yyyy'}}</td>
                  <td>{{ltr.result}}</td>
                  <td>{{ltr.testWarn|yesNo}}</td>
                </tr>
              </tbody>
            </table>
          </div><!-- end col-xs-12 -->
        </div><!-- end row -->
      </div><!-- end col-xs-12 panel -->
    </div><!-- end row -->

    <!-- Medications -->
    <div class='row'>
      <div class='col-xs-12 panel panel-default spacing'>
        <div class='row'>
          <div class='col-xs-12'>
            <label>Medications</label>

            <table id='Medications' class='table table-striped table-bordered table-hover table-condensed'>
              <thead>
                <tr>
                  <td>Date</td>
                  <td>Name</td>
                  <td>#Dispen</td>
                </tr>
              </thead>
              <tbody>
                <tr class='medicationsRow' ng-hide='med.op == "D"' ng-repeat-start='med in ctrl.medication'>
                  <td class='table-cell-date'>{{med.date|onlyValidDate|date:'MM-dd-yyyy'}}</td>
                  <td>{{med.name}}</td>
                  <td>{{med.numberDispensed}}</td>
                </tr>
                <tr ng-if='med.note && med.note.length > 0' ng-repeat-end>
                  <td class='table-cell-subrow'></td>
                  <td class='table-cell-subrow' colspan='2'>{{med.note}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Health Teachings -->
    <div class='row'>
      <div class='col-xs-12 panel panel-default spacing'>
        <div class='row'>
          <div class='col-xs-12'>
            <label>Health Teachings</label>

            <table id='Teachings' class='table table-striped table-bordered table-hover table-condensed'>
              <thead>
                <tr>
                  <td>Date</td>
                  <td>Topic</td>
                  <td>Teacher</td>
                </tr>
              </thead>
              <tbody>
                <tr class='teachingsRow' ng-hide='teach.op == "D"' ng-repeat='teach in ctrl.healthTeaching'>
                  <td class='table-cell-date'>{{teach.date|onlyValidDate|date:'MM-dd-yyyy'}}</td>
                  <td>{{teach.topic}}</td>
                  <td>{{teach.teacher|getUserField:'lastname'}}, {{teach.teacher|getUserField:'firstname'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div><!-- end left column -->
  <!-- Right column -->
  <div class='col-xs-6'>

    <!-- Progress Notes -->
    <div class='row'>
      <div class='col-xs-12 panel panel-default spacing'>
        <div class='row'>
          <div class='col-xs-12'>
            <label>Progress Notes</label>

            <table id='ProgressNotes' class='table table-striped table-bordered table-hover table-condensed'>
              <thead>
                <tr>
                  <td>Date</td>
                  <td>Note</td>
                </tr>
              </thead>
              <tbody>
                <tr class='teachingsRow' ng-hide='note.op == "D"' ng-repeat='note in ctrl.pregnote'>
                  <td class='table-cell-date'>{{note.noteDate|onlyValidDate|date:'MM-dd-yyyy'}}</td>
                  <td>{{note.note}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Referrals -->
    <div class='row'>
      <div class='col-xs-12 panel panel-default spacing'>
        <div class='row'>
          <div class='col-xs-12'>
            <label>Referrals</label>

            <table id='Referrals' class='table table-striped table-bordered table-hover table-condensed'>
              <thead>
                <tr>
                  <td>Date</td>
                  <td>Referred to</td>
                  <td>Reason</td>
                </tr>
              </thead>
              <tbody>
                <tr class='referralsRow' ng-hide='ref.op == "D"' ng-repeat='ref in ctrl.referral'>
                  <td class='table-cell-date'>{{ref.date|onlyValidDate|date:'MM-dd-yyyy'}}</td>
                  <td>{{ref.referral}}</td>
                  <td>{{ref.reason}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12 panel panel-default spacing'>
        <div class='row'>
          <div class='col-xs-6'>
            <label>Doctor consult date</label>
            <input class='form-control' name='doctorConsultDate' disabled='true' value={{ctrl.pregnancy.doctorConsultDate|onlyValidDate|date:'MM-dd-yyyy'}}>
          </div>
          <div class='col-xs-6'>
            <label>Dentist consult date</label>
            <input class='form-control' name='dentistConsultDate' disabled='true' value={{ctrl.pregnancy.dentistConsultDate|onlyValidDate|date:'MM-dd-yyyy'}}>
          </div>
        </div>
      </div>
    </div>

    <!-- Vaccinations -->
    <div class='row'>
      <div class='col-xs-12 panel panel-default spacing'>
        <div class='row'>
          <div class='col-xs-12'>
            <label>Vaccinations</label>

            <table id='Vaccinations' class='table table-striped table-bordered table-hover table-condensed'>
              <thead>
                <tr>
                  <td>Type</td>
                  <td>Date</td>
                  <td>Administered by</td>
                </tr>
              </thead>
              <tbody>
                <tr class='vaccinationsRow' ng-hide='vac.op == "D"' ng-repeat-start='vac in ctrl.vaccination' ng-switch on='vac.administeredInternally'>
                  <td>{{vac.name}}</td>
                  <td class='table-cell-date'>{{vac|getDateFromVaccination}}</td>
                  <td ng-switch-default></td>
                  <td ng-switch-when='1'>Internal</td>
                  <td ng-switch-when='0'>External</td>
                </tr>
                <tr ng-if='vac.note && vac.note.length > 0' ng-repeat-end>
                  <td class='table-cell-subrow'></td>
                  <td class='table-cell-subrow' colspan='2'>{{vac.note}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class='row'>
          <div class='col-xs-12' >
            <div>
              <label>Number of required tetanus</label>
            </div>
            <label class='radio-inline inline-label-space'>
              <input type='radio' name='numberRequiredTetanus' disabled value='0' ng-checked='ctrl.pregnancy.numberRequiredTetanus==0'>0
            </label>
            <label class='radio-inline inline-label-space'>
              <input type='radio' name='numberRequiredTetanus' disabled value='1' ng-checked='ctrl.pregnancy.numberRequiredTetanus==1'>1
            </label>
            <label class='radio-inline inline-label-space'>
              <input type='radio' name='numberRequiredTetanus' disabled value='2' ng-checked='ctrl.pregnancy.numberRequiredTetanus==2'>2
            </label>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12' >
            <label class='radio-inline inline-label-space'>
              <input type='radio' name='numberRequiredTetanus' disabled value='3' ng-checked='ctrl.pregnancy.numberRequiredTetanus==3'>3
            </label>
            <label class='radio-inline inline-label-space'>
              <input type='radio' name='numberRequiredTetanus' disabled value='4' ng-checked='ctrl.pregnancy.numberRequiredTetanus==4'>4
            </label>
            <label class='radio-inline inline-label-space'>
              <input type='radio' name='numberRequiredTetanus' disabled value='5' ng-checked='ctrl.pregnancy.numberRequiredTetanus==5'>5
            </label>
          </div>
        </div>
      </div>
    </div>

  </div><!-- end right column -->
</div>
