<div class='row'>
  <div class='form-group col-xs-4'>
    <label>Choose at least one:</label>
      <div class='checkbox'>
        <label ng-class='{"has-changed": chgd.invertedNipples}'>
          <input type='checkbox' name='invertedNipples' disabled value=1 ng-checked='ctrl.pregnancy.invertedNipples'>
          Inverted nipples
        </label>
      </div>
      <div class='checkbox'>
        <label ng-class='{"has-changed": chgd.hasUS}'>
          <input type='checkbox' name='hasUS' disabled value=1 ng-checked='ctrl.pregnancy.hasUS'>
          Patient has U/S
        </label>
      </div>
      <div class='checkbox'>
        <label ng-class='{"has-changed": chgd.wantsUS}'>
          <input type='checkbox' name='wantsUS' disabled value=1 ng-checked='ctrl.pregnancy.wantsUS'>
          Patient wants U/S
        </label>
      </div>
      <div class='checkbox'>
        <label>
          <input type='checkbox' name='noneOfAbove' disabled value=1 ng-checked='!ctrl.pregnancy.invertedNipples && !ctrl.pregnancy.hasUS && !ctrl.pregnancy.wantsUS'>
          None of the above
        </label>
      </div>
  </div>

  <div class='form-group col-xs-2'>
    <div class='row'>
      <div class='form-group col-xs-12'>
        <span ng-class='{"has-changed": chgd.ageOfMenarche}'>Age of menarche</span>
        <input class='form-control' type='number' disabled name='ageOfMenarche' value='{{ctrl.patient.ageOfMenarche}}'>
      </div>
    </div>
  </div>

  <div class='form-group col-xs-6'>
    <span ng-class='{"has-changed": chgd.note}'>Comments </span>
    <span class="text-info">('**Flag a comment on it\'s own line.')</span>
    <textarea class='form-control' rows='6' wrap='soft' disabled name='note'>{{ctrl.pregnancy.note}}</textarea>
  </div>

</div>

<div class='row'>
  <div class='form-group col-xs-1'>
    <label ng-class='{"has-changed": chgd.gravida}'>Grav
      <input class='form-control input-xs minInputSize2' disabled type='text' name='gravida' value='{{ctrl.pregnancy.gravida}}'>
    </label>
  </div>
  <div class='form-group col-xs-1 col-xs-offset-1'>
    <label ng-class='{"has-changed": chgd.para}'>Para
      <input class='form-control input-xs minInputSize2' disabled type='text' name='para' value='{{ctrl.pregnancy.para}}'>
    </label>
  </div>
  <div class='form-group col-xs-1 col-xs-offset-2'>
    <label ng-class='{"has-changed": chgd.abortions}'>A/M
      <input class='form-control input-xs minInputSize2' disabled type='text' name='abortions' value='{{ctrl.pregnancy.abortions}}'>
    </label>
  </div>
  <div class='form-group col-xs-1 col-xs-offset-1'>
    <label ng-class='{"has-changed": chgd.living}'>Living
      <input class='form-control input-xs minInputSize2' disabled type='text' name='living' value='{{ctrl.pregnancy.living}}'>
    </label>
  </div>
  <div class='form-group col-xs-1 col-xs-offset-1'>
    <label ng-class='{"has-changed": chgd.stillBirths}'>Stillbirth
      <input class='form-control input-xs minInputSize2' disabled type='text' name='stillBirths' value='{{ctrl.pregnancy.stillBirths}}'>
    </label>
  </div>
</div>

<div class='row'>
  <div class='form-group col-xs-1 col-xs-offset-2'>
    <label ng-class='{"has-changed": chgd.term}'>Term
      <input class='form-control input-xs minInputSize2' disabled type='text' name='term' value='{{ctrl.pregnancy.term}}'>
    </label>
  </div>
  <div class='form-group col-xs-1'>
    <label ng-class='{"has-changed": chgd.preterm}'>PreTerm
      <input class='form-control input-xs minInputSize2' disabled type='text' name='preterm' value='{{ctrl.pregnancy.preterm}}'>
    </label>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>
    <div class='bigTable'>
      <table id='pregnancyHistoryTable' class='table table-striped table-bordered table-hover table-condensed'>
        <thead>
          <tr>
            <td class='table-cell-date'>Date</td>
            <td>GA</td>
            <td>Sex</td>
            <td>Place of birth</td>
            <td>Attendent</td>
            <td>Del type</td>
            <td>Labor (hrs)</td>
            <td>Wgt (g)</td>
            <td>Epis tear</td>
            <td>Repaired</td>
            <td>Breast fed</td>
          </tr>
        </thead>
        <tbody>
          <tr class='pregHistoryRow' ng-hide='ph.op == "D"' ng-repeat-start='ph in ctrl.pregnancyHistory' ui-sref='pregnancy.pregnancyHistory({pregId: pregId, phid: ph.id})'>
            <td>{{ph.month? ph.month + '-': ''}}{{ph.day? ph.day + '-': ''}}{{ph.year}}</td>
            <td>{{ph.FT === 1? 'Full term': ph.finalGA + ' ' + ph.finalGAPeriod}}</td>
            <td>{{ph.sexOfBaby}}</td>
            <td>{{ph.placeOfBirth}}</td>
            <td>{{ph.attendant}}</td>
            <td>{{ph.typeOfDelivery}}</td>
            <td>{{ph.lengthOfLabor}}</td>
            <td>{{ph.birthWeight}}</td>
            <td>{{ph.episTear}}</td>
            <td>{{ph.repaired}}</td>
            <td>{{ph.howLongBFed? ph.howLongBFed + ' ' + ph.howLongBFedPeriod: ''}}</td>
          </tr>
          <tr class='pregHistoryRow' ng-hide='ph.op == "D"' ng-repeat-end ng-if='ph.note && ph.note.length > 0'>
            <td class='table-cell-subrow'></td>
            <td class='table-cell-subrow' colspan='10'>{{ph.note}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
