<div class='row'>
  <!-- Column one -->
  <div class='form-group col-md-4 box'>
    <p class='text-primary lead'>Phil Health</p>

    <div class='row'>
      <div class='col-md-6 box'>
        <div class='checkbox'>
          <label>Phil Health MCP</label>
          <input type='checkbox' name='philHealthMCP' tabindex="1" disabled='true' value=1 ng-checked='ctrl.pregnancy.philHealthMCP'>
        </div>
      </div>
      <div class='col-md-6 box'>
        <div>
          <span>PHIC #</span>
          <input class='form-control' type='text' size=12 tabindex="3" autocomplete="off" name='philHealthID' disabled='true' value={{ctrl.pregnancy.philHealthID}}>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 box'>
        <div class='checkbox'>
          <label>Phil Health NCP
            <input type='checkbox' name='philHealthNCP' tabindex="2" disabled='true' value=1 ng-checked='ctrl.pregnancy.philHealthNCP'>
          </label>
        </div>
      </div>
      <div class='col-md-6 box'>
        <div class='checkbox'>
          <label>PHIC Approved
            <input type='checkbox' name='philHealthApproved' tabindex="4" disabled='true' value=1 ng-checked='ctrl.pregnancy.philHealthApproved'>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class='form-group col-md-8 box'>
    <p class='text-primary lead'>Estimated Due Dates</p>

    <div class='row'>
      <div class='col-md-4 '>
        <div>
          <span>LMP</span>
          <input class='form-control' tabindex='5' name='lmp' disabled='true' value={{ctrl.pregnancy.lmp|onlyValidDate|date:'MM-dd-yyyy'}}>
        </div>
      </div>
      <div class='col-md-4 '>
        <div>
          <span>EDD</span>
          <input id='edd' class='form-control' type='text' autocomplete="off" name='edd' disabled=true value={{ctrl.pregnancy.lmp|onlyValidDate|edd|date:'MM-dd-yyyy'}}>
        </div>
      </div>
      <div class='col-md-4 '>
        <div>
          <span>Alternate EDD</span>
          <input class='form-control' tabindex='8' name='alternateEdd' disabled='true' value={{ctrl.pregnancy.alternateEdd|onlyValidDate|date:'MM-dd-yyyy'}}>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 '>
        <div class='checkbox'>
          <label>Sure of LMP
            <input type='checkbox' name='sureLMP' tabindex="6" disabled='true' value=1 ng-checked='ctrl.pregnancy.sureLMP'>
          </label>
        </div>
      </div>
      <div class='col-md-4 col-md-offset-2'>
        <div class='checkbox'>
          <label>Use Alt EDD
            <input type='checkbox' name='useAlternateEdd' tabindex="9" disabled='true' value=1 ng-checked='ctrl.pregnancy.useAlternateEdd'>
          </label>
        </div>
      </div>
    </div>

  </div>
</div>

<div class='row'>
  <div class='form-group col-md-12 box'>
    <p class='text-primary lead'>Risk Factors</p>
    <div class='row'>
      <div class='col-md-3'>
        <h4 class='text-primary'>Risk Present</h4>
        <div id="readonlyRiskPresent" class="readonlyCheckmark" ng-repeat='risk in ctrl.secondary.risk|riskTypeHistorical:"Present":ctrl.replacedAt'>
          <div class="fa fa-check">{{risk.name}}: {{risk.description}}</div><br />
        </div>
      </div>
      <div class='col-md-3'>
        <h4 class='text-primary'>Risk ObHx</h4>
        <div id="readonlyRiskObHx" class="readonlyCheckmark" ng-repeat='risk in ctrl.secondary.risk|riskTypeHistorical:"ObHx":ctrl.replacedAt'>
          <div class="fa fa-check">{{risk.name}}: {{risk.description}}</div><br />
        </div>
      </div>
      <div class='col-md-3'>
        <h4 class='text-primary'>Risk MedHx</h4>
        <div id="readonlyRiskMedHx" class="readonlyCheckmark" ng-repeat='risk in ctrl.secondary.risk|riskTypeHistorical:"MedHx":ctrl.replacedAt'>
          <div class="fa fa-check">{{risk.name}}: {{risk.description}}</div><br />
        </div>
      </div>
      <div class='col-md-3'>
        <h4 class='text-primary'>Risk Lifestyle</h4>
        <div id="readonlyRiskLifestyle" class="readonlyCheckmark" ng-repeat='risk in ctrl.secondary.risk|riskTypeHistorical:"Lifestyle":ctrl.replacedAt'>
          <div class="fa fa-check">{{risk.name}}: {{risk.description}}</div><br />
        </div>
      </div>
    </div>
  </div>
<div>
