div.loginbox {
  max-width: 300px;
}

div.userEditBox {
  max-width: 400px;
}

div.formBox {
  max-width: 400px;
}

div.formBoxLarge {
  max-width: 100%;
}

div#flash {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #CCCCCC;
}

div.infomessage {
  padding: 10px;
  margin: 10px 0;
  width: 400px;
  border: 1px solid #CCCCCC;
}

div.errormessage {
  padding: 10px;
  margin: 10px 0;
  width: 400px;
  border: 2px solid #CCCCCC;
}

.pregName {
  margin-top: 5px;
}

h2.patient-well {
  margin-top: 0;
}

/* Colors */
.navbar, .side-nav {
  background-color: #428BCA;
}

.navbar-inverse .navbar-nav > li > a {
  color: #E7E7E7;
}

.navbar-inverse .navbar-brand {
  color: #E7E7E7;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #3276B1;
  color: #FFFFFF;
}
