div.loginbox {
  max-width: 300px;
}

div.userEditBox {
  max-width: 400px;
}

div.formBox {
  max-width: 400px;
}

div.formBoxLarge {
  max-width: 100%;
}

div#flash {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #CCCCCC;
}

div.infomessage {
  padding: 10px;
  margin: 10px 0;
  width: 400px;
  border: 1px solid #CCCCCC;
}

div.errormessage {
  padding: 10px;
  margin: 10px 0;
  width: 400px;
  border: 2px solid #CCCCCC;
}

.pregName {
  margin-top: 5px;
}

h2.patient-well {
  margin-top: 0;
}

.spacing {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.spacing-row {
  margin-top: 10px;
}

/* Colors */
.navbar, .side-nav {
  background-color: #428BCA;
}

.navbar-inverse .navbar-nav > li > a {
  color: #E7E7E7;
}

.navbar-inverse .navbar-brand {
  color: #E7E7E7;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #3276B1;
  color: #FFFFFF;
}

td.table-cell-date {
  min-width: 6em;
}

/* Displays the priority
 * number, if applicable,
 * in the lower left corner
 * in a fixed position. */
.priority-number-outer {
  visibility: hidden;
  z-index: 2000;
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 225px;
  border-top: 2px solid white;
  min-height: 100px;
}
.priority-visible {
  visibility: visible;
}
.priority-number-inner-msg {
  min-height: 30px;
  min-width: 225px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid white;
}
.priority-number-inner-number {
  min-height: 100px;
  min-width: 225px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid white;
}
.priority-msg {
  text-align: center;
  font-size: 20px;
}
.priority-number {
  text-align: center;
  font-size: 80px;
}

/* Charts on home page. */
h3.charts,
h4.charts {
  margin-bottom: 20px;
}
#prenatalThisWeek,
#prenatalHistory,
#prenatalHistoryByWeek {
  height: 300px;
}



