/*
 * -------------------------------------------------------------------------------
 * midwife-emr.css
 *
 * Custom CSS for the application.
 * -------------------------------------------------------------------------------
 */

div.loginbox {
  max-width: 300px;
}

div.userEditBox {
  max-width: 400px;
}

div.formBox {
  max-width: 400px;
}

div.formBoxLarge {
  max-width: 100%;
}

div#flash {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #CCCCCC;
}

.flags {
  padding: 10px;
  margin: 10px 0;
}

div.infomessage {
  padding: 10px;
  margin: 10px 0;
  width: 400px;
  border: 1px solid #CCCCCC;
}

div.errormessage {
  padding: 10px;
  margin: 10px 0;
  width: 400px;
  border: 2px solid #CCCCCC;
}

.pregName {
  margin-top: 5px;
}

h3.patient-well {
  margin-top: 0;
}
.patient-well-smallrow,
.patient-well-smallrow strong {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.spacing {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.spacing-row {
  margin-top: 10px;
}

/* Colors */
.navbar, .side-nav {
  background-color: #428BCA;
}

.navbar-inverse .navbar-nav > li > a {
  color: #E7E7E7;
}

.navbar-inverse .navbar-brand {
  color: #E7E7E7;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #3276B1;
  color: #FFFFFF;
}

td.table-cell-date {
  min-width: 6em;
}

td.table-cell-subrow {
  color: #3276B1;
}

/* Displays the priority
 * number, if applicable,
 * in the lower left corner
 * in a fixed position. */
.priority-number-outer {
  visibility: hidden;
  z-index: 2000;
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 225px;
  border-top: 2px solid white;
  min-height: 100px;
}
.priority-visible {
  visibility: visible;
}
.priority-number-inner-msg {
  min-height: 30px;
  min-width: 225px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid white;
}
.priority-number-inner-number {
  min-height: 100px;
  min-width: 225px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid white;
}
.priority-msg {
  text-align: center;
  font-size: 20px;
}
.priority-number {
  text-align: center;
  font-size: 80px;
}

/* Charts on home page. */
h3.charts,
h4.charts {
  margin-bottom: 20px;
}
#prenatalThisWeek,
#prenatalHistory,
#prenatalScheduled,
#prenatalHistoryByMonth,
#prenatalHistoryByWeek {
  height: 300px;
}

/* Lab Modal adjustments */
.labModalCheckbox {
  left: 15px !important;
}

/* Provide a bit of space on inline radio buttons
 * with small labels. */
.inline-label-space {
  margin-right: 20px;
}

span#dirty-notice {
  display: none;
  position: fixed;
  top: 41px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1110;
  background-color: white;
  padding: 2px 5px;
}
span#dirty-notice-tablet {
  display: none;
  position: fixed;
  top: 41px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1110;
  background-color: white;
  padding: 2px 5px;
}

/* Risk factors on prenatal page */
.readonlyCheckmark {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Application Revision in the header */
.nav > li span {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  line-height: 20px;
  position: relative;
  display: block;
  color: white;
  font-style: oblique;
}

.separate-section {
  padding: 0 0 10px 0;
}

/* Angular components */

/* History control neatly nests in right corner if
 * there is enough width. Otherwise allow it to
 * be a part of the flow.
 */
@media (min-width: 1200px) {
  #historyControl {
    position: fixed;
    top: 51px;
    right: 22px;
    z-index: 2000;
    opacity: 100%;
    background-color: white;
  }
}
@media (max-width: 1199px) {
  #historyControl {
    position: fixed;
    top: 0px;
    right: 141px;
    z-index: 2000;
    opacity: 100%;
    background-color: white;
  }
}
div.history-header {
  position: relative;
}
table.hcTable {
  margin: 5px auto;
  border: 2px solid #CCCCCC;
}
hcNavBtnLeft {
  padding-right: 5px;
}
hcNavBtnRight {
  padding-left: 5px;
}

div.hcNavText {
  /*
  max-height: 25px;
  overflow-y: hidden;
  overflow-x: hidden;
  */
}

table.hcNavText {
  /*
  border-top: 2px solid #CCCCCC;
  border-bottom: 2px solid #CCCCCC;
  */
}
tr.hcNavText {
}
td.hcNavText {
  padding: 0;
  margin: 3px;
}
td.hcNavText-upper {
}
td.hcNavText-lower {
}
td.hcNavText-left {
  padding: 0 8px;
}
td.hcNavText-right {
  padding: 0 8px;
}

/* History - highlight changed fields */
label.has-changed,
span.has-changed {
  color: #428BCA;
}

