extends layouts/default_layout

block content
  h1= title

  h3
    = gettext('User Information')

  p= gettext('User id: ') + user.id + ', ' + gettext('Name: ') + user.username

  - if (applicationRevision)
    p= gettext('Application revision: ') + applicationRevision

  p= gettext('Designed for a desktop/laptop.')
  hr

