extends layouts/default_layout

block history
  +titleMsg(title)

  p= gettext('Newest records are at the bottom. Click to expand.')
  div.clearfix
    a(class='pull-right', href='edit') Back to edit
  div(class='formBoxLarge')
    +historyData(history, users)

