extends layouts/default_layout

block history
  +titleMsg(title)

  p= gettext('Note that the top record is the current record.')
  div.clearfix
    a(class='pull-right', href='edit') Back to edit
  div(class='formBoxLarge')
    +historyData(history, users)

