doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='/invoiceWorksheet/bootstrap.min.css')
    script(src='/invoiceWorksheet/jquery.min.js')
    script(src='/invoiceWorksheet/bootstrap.min.js')
  body
    div(id='app')
    script(src='/invoiceWorksheet/bundle.js')
