extends layouts/default_layout

block login
  h1= title

  div.loginbox
    p.text-warning
      = message
    form(role='form', name='login', action='/login', method='post')
      div.form-group
        span username
        input(class='form-control', type='text', name='username')
      div.form-group
        span password
        input(class='form-control', type='password', name='password')
      input(class='btn btn-default', type='submit', value='login')
      input(type='hidden', name='_csrf', value=token)



