extends layouts/default_layout

block pregnancyHistory
  h1= title

  div.clearfix
    a(class='pull-right', href='edit') Back to edit
  div(class='formBoxLarge')
    +flash(messages)
    +historyData(history)

