div.loginbox {
  max-width: 300px;
}

div.searchbox {
  max-width: 400px;
}

div.userEditBox {
  max-width: 400px;
}

div.formBox {
  max-width: 400px;
}

div.formBoxLarge {
  max-width: 100%;
}

div#flash {
  padding: 10px;
  margin: 10px 0;
  width: 400px;
  border: 1px solid #CCCCCC;
}

div.infomessage {
  padding: 10px;
  margin: 10px 0;
  width: 400px;
  border: 1px solid #CCCCCC;
}

div.errormessage {
  padding: 10px;
  margin: 10px 0;
  width: 400px;
  border: 2px solid #CCCCCC;
}

.pregName {
  margin-top: 5px;
}

