mixin select(classes, fieldName, tabindex, data)
  select(class=classes, name=fieldName, tabindex=tabindex)
    each rec in data
      option(value=rec.value selected=rec.selected?true:false)= rec.value

