mixin titleMsg(title)
  - var pregId = rec && rec.id? rec.id: void 0;
  div.row
    div(class='col-md-6')
      h1= title
    div(class='col-md-4')
      +flash(messages)
      - if (rec && rec.flags && rec.flags.length > 0) {
        div(class='flags alert alert-info')
          - rec.flags.forEach(function(f) {
            p(class='')= f
          - });
      - }
    div(class='col-md-2')
      - if (pregId)
        a(type='button', class='btn btn-default', href='/report/summary/' + pregId)= gettext('Summary Rpt')
