mixin select(classes, fieldName, tabindex, data)
  select(class=classes, name=fieldName, tabindex=tabindex)
    each rec in data
      option(value=rec.selectKey selected=rec.selected?true:false)= rec.label

