mixin titleMsg(title)
  - var pregId = rec && rec.id? rec.id: void 0;
  div.row
    div(class='col-xs-9')
      h2= title
    div(class='col-xs-3')
      - if (pregId)
        a(type='button', class='btn btn-default', href='/report/summary/' + pregId)= gettext('Summary Rpt')
  div.row
    div(class='col-xs-6')
      +flash(messages)
