extends layouts/default_layout

block home
  h1= title

  h3
    = gettext('User Information')

  p= gettext('User id: ') + user.id + ', ' + gettext('Name: ') + user.username

  - if (revision)
    p= gettext('Application revision: ') + revision

  p= gettext('Designed for a tablet.')
  hr

