doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel='stylesheet' href='/js/medical.styles.css')
    link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet")

  body()
    div(id='app' data-pregId=pregId)
    script(src='/js/medical.mwemr-bundle.js')
      p This is an SPA for medical staff, phase 2 stuff.

