<div id='historyControl'>
  <span class='historyControlNavBtnLeft'>
    <a class='' id='historyControl-first' href='#'><i class='fa fa-2x fa-fw fa-backward'></i></a>
  </span>
  <span class='historyControlNavBtnLeft'>
    <a class='' id='historyControl-prev' href='#'><i class='fa fa-2x fa-fw fa-step-backward'></i></a>
  </span>
  <span class='historyControlNavText'>
    <strong class='text-info lead'>{{ctrl.replacedAt|date:'MM-dd-yyyy HH:mm:ss'}} - Record {{ctrl.currentRecord}} of {{ctrl.numberRecords}}</strong>
  </span>
  <span class='historyControlNavBtnRight'>
    <a class='' id='historyControl-next' href='#'><i class='fa fa-2x fa-fw fa-step-forward'></i></a>
  </span>
  <span class='historyControlNavBtnRight'>
    <a class='' id='historyControl-last' href='#'><i class='fa fa-2x fa-fw fa-forward'></i></a>
  </span>
</div>
