<div id='historyControl'>
  <table>
    <tr>
      <td>
        <span class='historyControlNavBtnLeft'>
          <a class='' id='historyControl-first' href='#'><i class='fa fa-2x fa-fw fa-backward'></i></a>
        </span>
      </td>
      <td>
        <span class='historyControlNavBtnLeft'>
          <a class='' id='historyControl-prev' href='#'><i class='fa fa-2x fa-fw fa-step-backward'></i></a>
        </span>
      </td>
      <td>
        <span class='historyControlNavText'>
          <table>
            <tr>
              <td>
                <strong class='text-info lead'>{{ctrl.replacedAt|date:'MM-dd-yyyy HH:mm:ss'}}</strong>
              </td>
              <td>
                <strong class='text-info lead'>Record {{ctrl.currentRecord}} of {{ctrl.numberRecords}}</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong class='text-info lead'><span>{{ctrl.updatedBy}}</span><span ng-if='ctrl.supervisor'> / {{ctrl.supervisor}}</span></strong>
              </td>
              <td>
                <strong class='text-info lead'><span>where a checkbox goes</span></strong>
              </td>
            </tr>
          </table>
        </span>
      </td>
      <td>
        <span class='historyControlNavBtnRight'>
          <a class='' id='historyControl-next' href='#'><i class='fa fa-2x fa-fw fa-step-forward'></i></a>
        </span>
      </td>
      <td>
        <span class='historyControlNavBtnRight'>
          <a class='' id='historyControl-last' href='#'><i class='fa fa-2x fa-fw fa-forward'></i></a>
        </span>
      </td>
    </tr>
  </table>
</div>
